<% if(App.vars.isPropertyPage) { %>
  <div class="crud-buttons">
    <table>
      <tr>
        <% if (App.vars.ability.can("cud", "Resident")) { %>
          <td>
            <a href="<%= edit_path %>" class="btn btn-lg btn-primary edit"> <i class="fa fa-pencil"></i> Edit</a>
          </td>
          <td>
            <a href="#" class="btn btn-lg btn-default archive"> <i class="fa fa-trash"></i> Archive</a>
          </td>

        <% } else if (App.vars.ability.can("read", "Resident")) { %>
          <td>
            <!-- placeholder -->
          </td>
        <% } %>
      </tr>
    </table>
  </div>
<% } %>

<div class="card">
  <b href="#" class="blue-text"><%= unit_text %></b>
  <h3> <a href="#" class="resident-details"><%= full_name %></a> </h3>
  <ul class="list-unstyled">
    <li class="blue-text" style="word-break: break-all;">
      <%= email %>
    </li>
    <li>
      <span class="blue-text"><%= primary_phone %></span>
    </li>
  </ul>
</div>



<% if(App.vars.isPropertyPage) { %>
  <div class="nav-details">
    <% if (App.vars.isCrm) { %>
      <a href="#resident-history" class="btn btn-lg btn-default tab-nav">
        <i class="fa fa-angle-right"></i>
        Resident Activity 
      </a>
      <a href="#marketing-history" class="btn btn-lg btn-default tab-nav">
        <i class="fa fa-angle-right"></i>
        Marketing History
      </a>
      <a href="#resident-roommates" class="btn btn-lg btn-default tab-nav">
        <i class="fa fa-angle-right"></i>
        Roommates
      </a>
      <a href="<%= tickets_path %>" class="btn btn-lg btn-default ticket-nav">
        <i class="fa fa-angle-right"></i>
        Tickets
      </a>
    <% } %>
    <!-- smartrent tab is always hidden -->
    <a href="#smartrent" class="btn btn-lg btn-default tab-nav">
      <i class="fa fa-angle-right"></i>
      Smartrent
    </a>
  </div>
<% } else { %>
  <div class="nav-details">
    <a href="#resident-properties" class="btn btn-lg btn-primary tab-nav">
      <i class="fa fa-angle-right"></i>
      Resident Properties
    </a>
    <a href="<%= tickets_path %>" class="btn btn-lg btn-default ticket-nav">
      <i class="fa fa-angle-right"></i>
      Tickets
    </a>
  </div>
<% } %>

