<div class="resident-box">
  <i class="fa fa-building-o"></i>
  <div class="author">
    <a href="#"><%= name %></a>
    <%= Helpers.timeOrTimeAgo(created_at) %>
  </div>
  
  <ul class="list-unstyled">
    <li>
      Type: <span class="capitalize"><%= type %></span>
    </li>
    <li>
      Status: <span class="capitalize"><%= status %></span>
    </li>
    <li>
      Status Date: <span><%= status_date %></span>
    </li>
    <li>
      Signing Date: <span><%= signing_date %></span>
    </li>
    <li>
      Move In: <span><%= move_in %></span>
    </li>
    <li>
      Move Out: <span><%= move_out %></span>
    </li>
  </ul>
  
  <a href="<%= resident_path %>" class="view-resident page-reload"> View </a>
</div>