<% if(!App.vars.isPropertyPage) { %>
  <div class="col-md-4">
    <div class="card">
      <h3>Contact Info </h3>
      <ul class="list-unstyled">
        <li>
          <label>Address:</label>
          <%= street %> <%= city %>, <%= state %> <%= zip %>
        </li>
        <li>
          <label>Gender:</label>
          <%= gender %>
        </li>
        <li>
          <label>Birthday:</label>
          <%= birthday %>
        </li>
        <li>
          <label>SSN#:</label>
          <%= last4_ssn %>
        </li>
        <li>
          <label>Cell Phone:</label>
          <%= cell_phone %>
        </li>
        <li>
          <label>Home Phone:</label>
          <%= home_phone %>
        </li>
        <li>
          <label>Work Phone:</label>
          <%= work_phone %>
        </li>
      </ul>
    </div>
  </div>

<% } else { %>
  <div class="col-md-4">
    <div class="card">
      <h3>
        Contact Info
      </h3>
      <ul class="list-unstyled">
        <li>
          <label>Address:</label>
          <%= street %> <%= city %>, <%= state %> <%= zip %>
        </li>
        <li>
          <label>Cell Phone:</label>
          <%= cell_phone %>
        </li>
        <li>
          <label>Home Phone:</label>
          <%= home_phone %>
        </li>
        <li>
          <label>Work Phone:</label>
          <%= work_phone %>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <h3>
        Lease Info
      </h3>
      <ul class="list-unstyled">
        <li>
          <label>Unit #:</label>
          <%= unit_code %>
        </li>
        <li>
          <label>Contract Signing Date:</label>
          <%= unit.signing_date %>
        </li>
        <li>
          <label>Move-in Date:</label>
          <%= unit.move_in %>
        </li>
        <li>
          <label>Move-out Date:</label>
          <%= unit.move_out %>
        </li>
        <li>
          <label>Rent:</label>
          <%= unit.rent %>
        </li>
        <li>
          <label>Status:</label>
          <%= unit.status %>
        </li>
        <li>
          <label>Type:</label>
          <%= unit.type %>
        </li>
        <li class="heading"> Vehicle Information</li>
        <li>
          <label>Number of Vehicles:</label>
          <%= unit.vehicles_count %>
        </li>
        <% if (unit.vehicles_count > 0 && unit.vehicle1) { %>
          <li>
            <label>V1. Make/Model/Year:</label>
            <%= unit.vehicle1 %>
          </li>
          <li>
            <label>License Plate:</label>
            <%= unit.license1 %>
          </li>
          <li>
            <label>Badge:</label>
            <%= unit.badge_number_1 %>
          </li>
        <% } %>

        <% if(unit.vehicles_count > 1 && unit.vehicle2) { %>
          <li>
            <label>V2. Make/Model:</label>
            <%= unit.vehicle2 %>
          </li>
          <li>
            <label>License Plate:</label>
            <%= unit.license2 %>
          </li>
          <li>
            <label>Badge:</label>
            <%= unit.badge_number_2 %>
          </li>
        <% } %>

        <% if(unit.vehicles_count > 2 && unit.vehicle3) { %>
          <li>
            <label>V3. Make/Model:</label>
            <%= unit.vehicle3 %>
          </li>
          <li>
            <label>License Plate:</label>
            <%= unit.license3 %>
          </li>
          <li>
            <label>Badge:</label>
            <%= unit.badge_number_3 %>
          </li>
        <% } %>
        <% if(unit.vehicles_count > 3 && unit.vehicle4) { %>
          <li>
            <label>V4. Make/Model:</label>
            <%= unit.vehicle4 %>
          </li>
          <li>
            <label>License Plate:</label>
            <%= unit.license4 %>
          </li>
          <li>
            <label>Badge:</label>
            <%= unit.badge_number_4 %>
          </li>
        <% } %>
        <% if(unit.vehicles_count > 4 && unit.vehicle5) { %>
          <li>
            <label>V5. Make/Model:</label>
            <%= unit.vehicle5 %>
          </li>
          <li>
            <label>License Plate:</label>
            <%= unit.license5 %>
          </li>
          <li>
            <label>Badge:</label>
            <%= unit.badge_number_5 %>
          </li>
        <% } %>
          <li class="heading"> Pet Information</li>
          <li>
            <label>Pets Count:</label>
            <%= unit.pets_count %>
          </li>
          <% if (unit.pets_count >= 1 && unit.pet_1_type) { %>
          <li>
            <label>Pet Type:</label>
            <%= unit.pet_1_type %>
          </li>
          <li>
            <label>Pet Breed:</label>
            <%= unit.pet_1_breed %>
          </li>
          <li>
            <label>Pet Name:</label>
            <%= unit.pet_1_name %>
          </li>
          <% } %>
          <% if (unit.pets_count >= 2) { %>
          <li>
            <label>Pet Type:</label>
            <%= unit.pet_2_type %>
          </li>
          <li>
            <label>Pet Breed:</label>
            <%= unit.pet_2_breed %>
          </li>
          <li>
            <label>Pet Name:</label>
            <%= unit.pet_2_name %>
          </li>
          <% } %>
          <% if (unit.pets_count >= 3) { %>
          <li>
            <label>Pet Type:</label>
            <%= unit.pet_3_type %>
          </li>
          <li>
            <label>Pet Breed:</label>
            <%= unit.pet_3_breed %>
          </li>
          <li>
            <label>Pet Name:</label>
            <%= unit.pet_3_name %>
          </li>
          <% } %>
      </ul>
    </div>
  </div>

  <% if (App.vars.isCrm) { %>
    <div class="col-md-4">
      <div class="card">
        <h3>
          Demographics
        </h3>
        <ul class="list-unstyled">
          <li class="heading"> Occupant </li>
          <li>
            <label>Gender:</label>
            <%= gender %>
          </li>
          <li>
            <label>Birthday:</label>
            <%= birthday %>
          </li>
          <li>
            <label>SSN:</label>
            <%= ssn %>
          </li>
          <li>
            <label>Household Size:</label>
            <%= unit.household_size %>
          </li>
          <li>
            <label>Household Status:</label>
            <%= unit.household_status %>
          </li>

          <li class="heading"> Previous Residence</li>
          <li>
            <label>Moving From:</label>
            <%= unit.moving_from %>
          </li>


          <li class="heading"> Employment</li>
          <li>
            <label>Occupation Type:</label>
            <%= unit.occupation_type %>
          </li>
          <li>
            <label>Employer:</label>
            <%= unit.employer %>
          </li>
          <li>
            <label>Employer City:</label>
            <%= unit.employer_city %>
          </li>
          <li>
            <label>Employer State:</label>
            <%= unit.employer_state %>
          </li>
          <li>
            <label>Annual Income:</label>
            <%= unit.annual_income %>
          </li>
          <li>
            <label>Minutes to Work:</label>
            <%= unit.minutes_to_work %>
          </li>
          <li>
            <label>Transportation to Work:</label>
            <%= unit.transportation_to_work %>
          </li>
        </ul>
      </div>
    </div>
  <% } %>
  <% if ( App.vars.isSmartrent && smartrent ) { %>
    <div class="col-md-4">
      <div class="card">
        <h3>
          SmartRent
        </h3>
        <ul class="list-unstyled smartrent-info"> <!-- will be loaded when the user view the resident detail -->
          Loading...
          <li>
            <a href="#" class="btn btn-primary btn-lg view-smartrent"> View Details</a>
          </li>
        </ul>
      </div>
    </div>
  <% } %>
<% } %>
