<div class="page-header">
  <h1> Campaigns: Custom Hylets </h1>
</div>

<ul class="nav nav-tabs">
  <li class="<%= "active" if action_name != "campaigns" %>">
    <a href="<%= nimda_custom_hylets_path(:type => "email") %>"> Nimda </a>
  </li>
  <li class="<%= "active" if action_name == "campaigns" %>">
    <a href="<%= campaigns_nimda_custom_hylets_path %>" > Campaigns </a>
  </li>
</ul>

<br><br>

<div style="padding:10px 0;">
  <%= form_tag campaigns_nimda_custom_hylets_path, :method => :get, :class => "form-inline" do %>
    Search by <%= select_tag "by", options_for_select([['Campaign Name','campaign_name'], ['Campaign ID','campaign_id'], 
                    ['Template Name','template_name'], ['Hylet Name','hylet_name'], ['Org Name','org_name']], params[:by]), :class => "form-control"  %>
    <%= text_field_tag :search, params[:search], :style => "width:280px;", :class => "form-control" %>
    <%= button_tag "search", :name => nil, :class => "btn btn-primary" %>
  <% end %>
</div>

<table class="table table-striped table-bordered">
	<thead>
	  <tr>
			<th width="50px"> # </th>
			<th>Org Name</th>
			<th width="250px">Campaign Name</th>
			<th width="250px">Hylet Label</th>
			<th width="130px">Hylet Updated At </th>
      <th width="130px">Actions</th>
	  </tr>
	</thead>
	<tbody>
		<% @campaigns.each_with_index do |campaign, index| %>
		  <% 
		    custom_hylets = campaign.hylets.collect{|h| h if ["NewsletterHylet"].include?(h.class.to_s) }.compact
		    custom_hylets.each do |h|
		  %>
  		  <tr class="<%= cycle('even', nil) %>">
  				<td><%= @campaigns.offset + index + 1 %></td>
  				<td>
  		      <%= link_to campaign.property.name, page_path(campaign.property), :target => "_blank" %>
  		    </td>
  		    <td>
  		      <%= link_to campaign.annotation, edit_landing_campaign_path(campaign), :target => "_blank" %>
  		      <br>--<br>
  		      <small style="<%= "color:#BC4A4A" if campaign.kind_of?(TemplateCampaign) %>"><%= campaign.type %></small>
  		    </td>
  		    <td><%= h.label %></td>
  				<td><%= h.updated_at.to_s(:nimda_time) %></td>
  		    <td>
  					<%= link_to 'edit', edit_nimda_custom_hylet_path(h) %>
  				</td>
  		  </tr>
  		<% end %>
		<% end %>
	</tbody>
</table>

<div class="paging-info">
  <%= page_entries_info @campaigns, :model => "campaign" %>
  <%= page_navigation_links(@campaigns)%>
</div>

<script type="text/javascript">
  $(function(){
    
  });
</script>