<div class="page-header">
  <h1> Nimda: Custom Hylets </h1>
</div>

<ul class="nav nav-tabs">
  <li class="<%= "active" if action_name != "campaigns" %>">
    <a href="<%= nimda_custom_hylets_path(:type => "email") %>"> Nimda </a>
  </li>
  <li class="<%= "active" if action_name == "campaigns" %>">
    <a href="<%= campaigns_nimda_custom_hylets_path %>" > Campaigns </a>
  </li>
</ul>
<br>

<%= link_to 'New Custom Hylet', new_nimda_custom_hylet_path(:type => params[:type]), :class => "btn btn-primary" %>
<br><br>

<div style="padding:10px 0;">
  <%= form_tag nimda_custom_hylets_path, :method => :get, :class => "form-inline" do %>
    <%= text_field_tag :search, params[:search], :style => "width:280px;", :class => "form-control" %>
    <%= button_tag "search", :name => nil, :class => "btn btn-primary" %>
  <% end %>
</div>

<table class="table table-striped table-bordered">
	<thead>
	  <tr>
			<th width="50px"> # </th>
			<th width="150px">Label</th>
			<th>Description</th>
			<th width="130px">Updated At </th>
      <th width="330px">Actions</th>
	  </tr>
	</thead>
	<tbody>
		<% @custom_hylets.each_with_index do |custom_hylet, index| %>
		  <tr class="<%= cycle('even', nil) %>">
				<td><%= @custom_hylets.offset + index + 1 %></td>
		    <td><%= custom_hylet.label %></td>
		    <td><%= custom_hylet.title1 %></td>
				<td><%= custom_hylet.updated_at.to_s(:nimda_time) %></td>
		    <td>
					<%= link_to "assign", assign_nimda_custom_hylet_path(custom_hylet), :class => "assign-hylet" %> |
					<%= link_to 'edit', edit_nimda_custom_hylet_path(custom_hylet) %> |
					<%= link_to 'duplicate', duplicate_nimda_custom_hylet_path(custom_hylet, :type => params[:type]), :confirm => 'Duplicate Custom Hylet___Are you sure?', :method => :post %> |
		    	<%= link_to 'delete', nimda_custom_hylet_path(custom_hylet, :type => params[:type]), :confirm => 'Delete Custom Hylet___Are you sure?', :method => :delete %> |
					<%= link_to "assigned pages (#{custom_hylet.children.length})", assigned_pages_nimda_custom_hylet_path(custom_hylet) %>
				</td>
		  </tr>
		<% end %>
	</tbody>
</table>

<div class="paging-info">
  <%= page_entries_info @custom_hylets, :model => "custom hylet" %>
  <%= page_navigation_links(@custom_hylets)%>
</div>

<script type="text/javascript">
  $(function(){
    $('.assign-hylet').click(function(){
      App.alert('Assign Custom Hylet To Page', '<div id="assign-form"> Please enter the <b>PAGE ID</b> and press the assign button <br><br>' +
         '<div class="input-group"><input type="text" value="" size="30" class="form-control"/> '+
         '<span class="input-group-btn"><button type="button" class="btn btn-primary"> assign </button></span> </div></div>');
         
      var link = $(this),
        form = $('#assign-form');
			
			form.find(':text').focus();
			
			form.on('click', 'button', function(){
        $.post(link.attr('href'), {pid: form.find(':text').val()}, function(data){
          if(data.success){
            msgbox('Custom Hylet was assigned to page: ' + data.page_name +' successfully');
            
            $('#alert').jqmHide();
            
          }else{
            alert('Could not assign Custom Hylet to page! You may have entered the wrong PAGE ID, please try again');
            
          }
        }, 'json');
        
        return false;
        
			}).on('keyup', ':text', function(ev){
			  if(ev.which == 13){
		     	form.find('button').click();
		      return false;
		    }
			});
      
      return false;
    });
  });
</script>