<%= link_to "Create A New Template", nimda_templates_path, :class => "btn btn-primary", :method => :post %>

<br><br>

<div style="padding:10px 0;">
  <%= form_tag nimda_templates_path, :method => :get, :class => "form-inline" do %>
    <%= text_field_tag :search, params[:search], :style => "width:350px;", :class => "form-control", :placeholder => "Enter Template Name or Property Name" %>
    <%= button_tag "search", :name => nil, :class => "btn btn-default" %>
  <% end %>
</div>

<%= render "templates", :templates => @templates, :param_page => "page" %>


<script type="text/javascript">
  $(function(){
    $('#template-group').change(function(){
      $(this).parents('form').submit();
    });
    
    $('#template-category').change(function(){
      $(this).parents('form').submit();
    });
    
  });
</script>
