<%= link_to "Create A New Template", nimda_templates_path, :class => "btn btn-primary", :method => :post %>

<br><br>
<h3> Approved Templates </h3>
<%= form_tag nimda_templates_path, :method => :get, :class => "form-inline" do %>
  Filter by
  <%= select_tag "category", options_for_select(template_categories.insert(0, ['All Categories','all']), params[:category]), :id => "template-category", :class => "form-control"  %>
	<%= hidden_field_tag "channel", params[:channel] if params[:channel] %>
  <%= button_tag "Filter", :name => nil, :style => "display:none;" %>
<% end %>
<br>
<%= render "templates", :templates => @templates, :param_page => "page" %>

<br><br>
<% if !@pending_templates.empty? %>
  <h3> Pending Templates </h3>
  <%= render "templates", :templates => @pending_templates, :param_page => "p_page" %>
<% end %>

<script type="text/javascript">
  $(function(){
    $('#template-group').change(function(){
      $(this).parents('form').submit();
    });
    
    $('#template-category').change(function(){
      $(this).parents('form').submit();
    });
    
  });
</script>
