<% content_for(:js) do %>
  <script type="text/javascript">
    
    function sendWrapAutoheight(){
      $('#send-wrap').css('maxHeight', (App.viewport.height() - 120));
    }
      
    $(function(){
      
      App.initPageLayout(null, null, function(){  //should be called on top
        sendWrapAutoheight();
        $('#send-wrap table').floatThead('reflow');
      });
      
      sendWrapAutoheight();
      
      App.setupReportLoadMask();
    });
  </script>
<% end if !params[:print] %>

<% content_for(:top_bar) do %>
  <div id="top-bar">
    <%= render "nav" %>
  </div>
<% end %>

<% content_for(:ui_center) do %>
  <div id="analyze-pane" class="hidden-pane ui-layout-center">
    <div class="ui-layout-content">
      <div class="main-container card-container">
        <div id="report-header" class="has-h4">
          <h4> Emails Sent </h4>
          <%= link_to "Export", export_send_summary_reports_path(@property, :range => params[:range]), :class => "btn btn-default export" %>
          <div id="range-picker"> <input type="text" class="form-control" value="<%= date_range_selector %>" readonly="readonly"/> </div>
          <div class="clear"></div>
        </div>
        
        <%= render "send_summary" %>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $(function(){
  	
  	var dateInput = $('#range-picker input'),
      container = $('#analyze-pane');
      
    if(dateInput[0]) {
      dateInput.daterangepicker({   
        dateFormat:'mm/dd/yy',
        onClose: function(){ 
          setTimeout(function(){
            var range = dateInput.val().split(' - ');   
            container.mask('Loading...');
            $.ajax({url: "<%= page_send_summary_reports_path(@property) %>" , type: 'GET',
              data: {
                range: range,
                campaign_id: "<%= params[:campaign_id] %>"
              },
              complete: function(){  container.unmask()},
              success: function(){},
              error: function(r){msgbox(r.responseText, 3000);},
              dataType: "script" 
            });
          },100);        
        },
        presetRanges: [
          {
            text: 'Yesterday', 
            dateStart: 'today-1day', 
            dateEnd: 'today-1day' 
          },
          {
            text: "Last Week",
            dateStart: function(){ return Date.parse("last sunday").add(-6).days(); },
            dateEnd: function(){ return Date.parse('last sunday'); }
          },
          {
            text: "Last Month",
            dateStart: function(){ return Date.parse('1 month ago').moveToFirstDayOfMonth(); },
            dateEnd: function(){ return Date.parse('1 month ago').moveToLastDayOfMonth(); }
          },
          {
            text: "This Week",
            dateStart: function(){ return Date.parse('monday'); },
            dateEnd: 'today'
          },
          {
            text: "This Month",
            dateStart: function(){ return Date.parse('today').moveToFirstDayOfMonth(); },
            dateEnd: 'today'
          }
        ],
        presets: { 
          dateRange:"Date Range"
        }
      });
    }
    
    //list leads
    var leadDialog = $("#lead-dialog").jqm({modal: true});
    
    container.on('click', 'tr a.more', function(){
      var link = $(this);
      
      leadDialog.find('.modal-body').html("Loading...");
  	  leadDialog.jqmShow();
  	  
			$.get(link.attr("href"), {summary: 1}, 'script');

      return false;
    });
    
    leadDialog.on('click', '.paging-info li:not(.disabled) a', function(){
  	  var t = $(this),
  	    list = t.closest('.subscribers-list');
  	  
  	  list.mask('loading...');
  	  
  	  $.get(t.attr('href'), function(){
  	    list.unmask();
  	  });
  	  
  	  return false;
  	  
  	}).on('click', '.export', function(){
			
			$.getScript(this.href);

      return false;
		});
		
  });
</script>