<ul class="nav nav-tabs">
  <li class="page-reload <%= "active" if controller_name == "templates" %>">
    <a href="<%= nimda_templates_path %>">Templates</a>
  </li>
  <li class="page-reload <%= "active" if action_name.include?("units") %>">
    <a href="<%= units_nimda_path %>">Unit Import</a>
  </li>
  <li class="page-reload <%= "active" if action_name == "yardi" %>">
    <a href="<%= yardi_nimda_path %>">Yardi Resident Import</a>
  </li>
  
  <li class="page-reload <%= "active" if action_name == "non_yardi" %>">
    <a href="<%= non_yardi_nimda_path %>">Non-Yardi Resident Import</a>
  </li>
</ul>