<ul class="nav nav-tabs">
  <li class="page-reload <%= "active" if controller_name == "templates" %>">
    <a href="<%= nimda_templates_path %>">Templates</a>
  </li>
  <li class="page-reload <%= "active" if action_name.include?("units") %>">
    <a href="<%= units_nimda_path %>">Unit Import</a>
  </li>
  <li class="page-reload <%= "active" if action_name.include?("yardi") %>">
    <a href="<%= yardi_nimda_path %>">Resident Import</a>
  </li>
  <li class="page-reload <%= "active" if action_name.include?("import_alerts") %>">
    <a href="<%= import_alerts_nimda_path %>">Yardi Import Alerts</a>
  </li>
</ul>