<% 
  csv_columns = [["No update", "9999"]]
  0.upto(49) do |i|
    csv_columns << ["Column #{i+1}", i]
  end
%>

<% content_for(:ui_center) do %>
  <div id="nimda-pane">
    <div class="ui-layout-content">
      <div class="main-container card-container import-container">
        
        <%= render "nimda/menu_nav" %>
        
        <div class="row">
          <div class="col-md-6">
            <div class="well">
              <h3> 
                Nightly Update from mits_4 XML <br>
                <a href="#" data-toggle="modal" data-target="#nightly-import-xml">What does this import do?</a>
              </h3>
              <%= form_tag load_xml_property_importer_nimda_path, :method => :post, :class => "import-form" do %>
                <%= hidden_field_tag "type", "load_xml_property_importer" %>
                <div class="form-group">
                  <label> FTP Host </label>
                  <%= text_field_tag "ftp_setting[host]", @daily_import.ftp_setting["host"], :class => "form-control" %>
                </div>

                <div class="form-group">
                  <label> FTP Username </label>
                  <%= text_field_tag "ftp_setting[username]", @daily_import.ftp_setting["username"], :class => "form-control" %>
                </div>

                <div class="form-group">
                  <label> FTP Password </label>
                  <%= password_field_tag "ftp_setting[password]", @daily_import.ftp_setting["password"], :class => "form-control" %>
                </div>

                <div class="form-group">
                  <label> FTP File Name </label>
                  <%= text_field_tag "ftp_setting[file_name]", @daily_import.ftp_setting["file_name"], :class => "form-control" %>
                </div>

                <div class="form-group">
                  <label> Import Status Recipient </label>
                  <%= text_field_tag "ftp_setting[recipient]", @daily_import.ftp_setting["recipient"], :class => "form-control", :placehoder => "email@address.com" %>
                  <span class="help-block">Enter a comma-separated list of emails to be notified when the import finishes</span>
                </div>
                
                <div class="form-group">
                  <label>
                    <%= hidden_field_tag "active", 0 %>
                    <%= check_box_tag "active", 1, @daily_import.active?, :style => "margin: 0 4px 0 0;" %>
                    Import file nightly at 3:00 AM
                  </label>
                </div>
                

                <div class="form-group">
                  <a href="#" class="show-mapping">Import Mapping</a>
                  <div class="field-mapping" style="display:none">
                    <b style="display:block; margin-bottom: 5px;">Map CRM fields with CSV column</b>
                    <table class="table table-bordered table-striped">
                      <thead>
                        <th>
                          CRM field
                        </th>
                        <th width="200px">
                          CSV column
                        </th>
                      </thead>
                      <tbody>
                        <% @daily_import.field_map.keys.each do |key| %>
                          <tr>
                            <td>
                              <%=key.to_s.gsub("_", " ").titleize %>
                            </td>
                            <td>
                              <%= select_tag "field_map[#{key}]", options_for_select([csv_columns], :selected => @daily_import.field_map[key].to_s), :class => "form-control"  %>
                            </td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>




                <%= button_tag "Save", :name => nil, :class => "btn btn-primary" %>
                <a href="<%= test_ftp_nimda_path %>" class="btn btn-default test"> Test Credentials</a>
              <% end %>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
<% end %>

<!-- Modal -->
<div class="modal fade" id="nightly-import-xml" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        <h4 class="modal-title">What does this import do?</h4>
      </div>
      <div class="modal-body">
        <p>
          <b>Nightly Update from XML</b>
        </p>
        
        <span style="font-size:15px; text-decoration: underline">These are handled as follows. <br></span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<%= render "dashboards/js_vars" %>

<script type="text/javascript">
  $(function(){
    $('.import-form').each(function(){
      var form = $(this);
      
      form.on('submit', function(){
        var blanks = [];

        form.find('input:visible').each(function(){
          var input = $(this);

          if( $.trim(input.val()) == "") {
            blanks.push( input );
          }
        });

        if(blanks.length > 0) {
          msgbox(_.map(blanks, function(b){ return b.prev().text() + " cannot be blank"}).join(" <br/>"), "danger");
          return false;
        }

        bootbox.confirm("Sure you want to load properties from XML? There is no undo.", function(result) {
          if (result) {
            form.ajaxSubmit({
              dataType: 'json',
              beforeSerialize: function(){
                form.mask('Please wait...');
              },
              success: function(){
                form.unmask();
                msgbox('Nightly Import setting was updated successfully');
              },
              error:function(jqXHR, textStatus, errorThrown) {
                form.unmask();
                msgbox('Unable to save'); 
              }
            });
          }
        });

        return false;
      });

      form.on('click', '.test', function(){
        form.mask('Please wait...');

        $.post(this.href, form.serializeArray(), function(data){
          if(data.success){
            msgbox('FTP Credentials are correct');
          } else {
            msgbox('FTP Credentials are not correct!', 'danger');
          }
          form.unmask();
        }, 'json');

        return false;
      });
    });
    
    $('.show-mapping').click(function(){
      var t = $(this);
      t.hide();
      t.next().slideDown();
      
      return false;
    });
    
    
    App.initPageLayout(null, null, null, true);
    
  });
</script>
