<div id="temp-div"></div>

<div class="row" style="margin-top: 15px;">
  <div id="west" class="col-md-3"></div>
  <div id="center" class="col-md-9"></div>
</div>

<script type="text/javascript">
  $(function(){
    App.vars.usersPath = "<%= users_path %>";
    
    //build from property dropdown
    App.vars.properties = [];
    App.vars.propertyRegions = [];
    
    var propertyDd = $('#prop-dd-nav');
    
    propertyDd.find('a[data-val]').each(function(){
      App.vars.properties.push({
        val: $(this).attr('data-val'),
        label: $(this).attr('data-label')
      });
    });
    
    propertyDd.find('b[data-val]').each(function(){
      if ( $(this).attr('data-val') ) {
        App.vars.propertyRegions.push({
          val: $(this).attr('data-val'),
          label: $(this).attr('data-label')
        });
      }
    });
    
    App.vars.roles = <%= raw Role::LIST.collect{|r| {:val => r, :label => Role::DICT[r]} }.to_json %>;
    App.vars.roleDict = <%= raw Role::DICT.to_json %>;
    
    App.vars.accountsPath = "<%= users_path %>";
    App.vars.routeRoot = "/";
    App.vars.tempDiv = $('#temp-div');
    
    App.vars.userId = "<%= current_user.id.to_s %>";
    App.vars.ability = new Ability({rules: <%= raw ability_to_array(current_ability).to_json %>});
    App.vars.unauthorizedPath = "<%= root_path %>";
    
    <% if @user %>
      App.vars.userObj = <%= raw render(:template => 'users/show.json.rabl') %>;
    <% end %>
    
    App.initialize();
  });
</script>