<!-- placeholder -->
<div class="notif <%= state == "pending" ? "active" : "" %>">
  <div class="subject"><%= resident_name %> | <%= Helpers.sanitize(subject) %></div>
  <div class="message">
    <%= Helpers.truncate(Helpers.sanitize(message), 60) %>
  </div>
  
  <span class="timeago">
    <%= Helpers.timeOrTimeAgo(created_at) %>
  </span>
</div>