<% if (App.vars.ability.can("cud", "User") || Helpers.editProfile(id)) { %>
  <div class="crud-buttons">
    <span class="btn-group">
      <a href="<%= App.vars.usersPath %>" class="btn btn-lg btn-default"> <i class="fa fa-long-arrow-left"></i> </a>
      <% if( !Helpers.editProfile(id) ){ %>
        <a href="<%= edit_path %>" class="btn btn-lg btn-primary edit"> <i class="fa fa-pencil"></i> Edit</a>
        <a href="#" class="btn btn-lg btn-default archive"> <i class="fa fa-trash"></i> Archive</a>
      <% } %>
    </span>
  </div>
<% } %>

<div class="card">
  <h3> <%= full_name %> <% if( Helpers.editProfile(id) ){ %> (You) <% } %> </h3>
  <ul class="list-unstyled">
    <li>
      <b>ID:</b> <%= id %>
    </li>
    <li>
      <b>Email:</b> <%= email %>
    </li>
    <li>
      <b>Role:</b> <%= App.vars.roleDict[role] %>
    </li>
    <li>
      <% if(role == "regional_manager") { %>
        <b>Authorized Regions:</b> <%= authorized_properties %>
        
      <% } else { %>
        <b>Authorized Properties:</b> <%= authorized_properties %>
      <% } %>
    </li>
  </ul>
</div>