<div class="row">
  <div class="col-md-6">
    <div class="card">
      <h4> Property Details </h4>
      <ul class="list-unstyled">
        <li>
          <b>Name:</b> <%= name %>
        </li>
        <li>
          <b>Address 1:</b> <%= address_line1 %>
        </li>
        <li>
          <b>Address 2:</b> <%= address_line2 %>
        </li>
        <li>
          <b>City:</b> <%= city %>
        </li>
        <li>
          <b>State:</b> <%= state %>
        </li>
        <li>
          <b>Zip:</b> <%= zip %>
        </li>
        <li>
          <b>Region:</b> <%= region %>
        </li>
        <li>
          <b>Property Email:</b> <%= email %>
        </li>
        <li>
          <b>Webpage URL :</b> <%= webpage_url %>
        </li>
        <li>
          <b>Website URL:</b> <%= website_url %>
        </li>
        <li>
          <b>Status:</b> <%= status %>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="col-md-6">
    <div class="card">
      <h4> Admin Details </h4>
      <ul class="list-unstyled">
        <li>
          <b>Regional Manager:</b> <%= regional_manager %>
        </li>
        <li>
          <b>SVP:</b> <%= svp %>
        </li>
        <li>
          <b>Bozzuto Property Number:</b> <%= property_number %>
        </li>
        <li>
          <b>L2L Property ID:</b> <%= l2l_property_id %>
        </li>
        <li>
          <b>Yardi Property ID:</b> <%= yardi_property_id %>
        </li>
        <li>
          <b>Owner Group:</b> <%= owner_group %>
        </li>
        <li>
          <b>Date Opened:</b> <%= date_opened %>
        </li>
        <li>
          <b>Date Closed:</b> <%= date_closed %>
        </li>
      </ul>
    </div>
  </div>
  
</div>