<div id="user-search" class="card">
  <h3> User Search </h3>
  <form action="<%= App.vars.usersPath %>" id="user-search-form">
    <div class="form-group">
      <input type="text" class="form-control" name="id" placeholder="User ID"/>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="first_name" placeholder="First Name"/>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="last_name" placeholder="Last Name"/>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="email" placeholder="Email"/>
    </div>
    
    <!-- role -->
    <div class="form-group">
      <select class="form-control" name="role">
        <option value=""> Select Role </option>
        <% for (var i=0, role; role=App.vars.roles[i]; i++) { %>
          <option value="<%= role.val %>"> <%= role.label %> </option>
        <% } %>
      </select>
    </div>
    
    <!-- authorization -->
    <div class="form-group">
      <select class="form-control" name="authorized_for">
        <option value=""> Select Authorization </option>
        <option value="all"> All Properties </option>
      
        <% for (var i=0, region; region=App.vars.propertyRegions[i]; i++) { %>
  	      <option value="<%= region.val %>"> <%= region.label %> </option>
        <% } %>
        <option value="" disabled="disabled"> --- </option>
      
        <% for (var i=0, property; property=App.vars.properties[i]; i++) { %>
  	      <option value="<%= property.val %>"> <%= property.label %> </option>
        <% } %>
      </select>
    </div>
    
    <button type="submit" class="btn btn-default btn-block search">SEARCH</button>
  </form>
</div>