<div id="modal">
  <div class="inner">
    <% if @user %>
      <p>
        You have requested to be unsubscribed from the <b>CRM Notifications</b>. Please confirm your request below.
      </p>

      <%= link_to "Unsubscribe from CRM Notifications", confirm_unsubscribe_path(@user.unsubscribe_id), :class => "btn btn-default", :method => :post %>
      
    <% elsif @resident %>
      <p>
        You have requested to be unsubscribed from the <b><%= list_name %> Newsletter</b>. Please confirm your request below.
      </p>

      <%= link_to "Unsubscribe from #{list_name} Newsletter", confirm_unsubscribe_path(@resident.unsubscribe_id, :cid => @campaign.id), :class => "btn btn-default", :method => :post %>
      
      <% if unsubscribe_all? %>
        <br><br>
        <p>
          If you would like to be unsubscribed from all Bozzuto promotional emails including the <b><%= list_name %> Newsletter</b>, please confirm your request below.
        </p>
        
        <%= link_to "Unsubscribe All", confirm_unsubscribe_path(@resident.unsubscribe_id, :cid => @campaign.id, :all => 1), :class => "btn btn-default", :method => :post %>
      <% end %>
      
    <% else %>
      <%
        #pretend entry
        if params[:cid] && params[:rid]
          @campaign = Campaign.find(params[:cid])
          @property = @campaign.property
          @pretend_resident = @property.residents.find(params[:rid]) rescue nil
        end
      %>
      
      <% if @pretend_resident %>
        <p>
          You have requested to be unsubscribed from the <b><%= list_name %> Newsletter</b>. Please confirm your request below.
        </p>

        <%= link_to "Unsubscribe from #{list_name} Newsletter", confirm_unsubscribe_path(123456, :cid => @campaign.id, :rid => @pretend_resident.id), :class => "btn btn-default", :method => :post %>            
        
        <% if unsubscribe_all? %>
          <br><br>
          <p>
            If you would like to be unsubscribed from all Bozzuto promotional emails including the <b><%= list_name %> Newsletter</b>, please confirm your request below.
          </p>

          <%= link_to "Unsubscribe All", confirm_unsubscribe_path(123456, :cid => @campaign.id, :rid => @pretend_resident.id, :all => 1), :class => "btn btn-default", :method => :post %>
        <% end %>
        
      <% else %>
        <p>
          You have requested to be unsubscribed from the <b>Test Company Newsletter</b>. Please confirm your request below.
        </p>
        
        <%= link_to "Unsubscribe from Test Company Newsletter", confirm_unsubscribe_path(123456), :class => "btn btn-default", :method => :post %>
      <% end %>
      
    <% end %>
    
    <div id="branding"><a href="http://hy.ly/" title="Powered by CRM"> Powered by CRM</a></div>
  </div>
</div>

<% if params[:id] == "123456" %>
  <p id='sample'> This is an example page </p>
<% end %>