<div id="modal">
  <div class="inner">
    <% if @user %>
      <p>
        We have subscribed <a class="email"><%= @user.email %></a> to <b>CRM Notifications</b> mailing list.<br><br>
      </p>
      
    <% elsif @resident %>
      <% if params[:all] && !@properties.blank? %>
        <p>
          We have subscribed <a class="email"><%= @resident.email %></a> to <b><%= @properties.collect{|p| p.name }.join(", ") %></b> mailing lists.<br><br>
        </p>
      
      <% else %>
        <p>
          We have subscribed <a class="email"><%= @resident.email %></a> to <b><%= list_name %></b> mailing list.<br><br>
        </p>
      
      <% end %>
    <% end %>
    
    <div id="branding"><a href="http://bozzuto.com/" title="Powered by CRM"> Powered by CRM</a></div>
  </div>
</div>