<div class="col-md-6">
  <div class="card">
    <h3> Residents </h3>
    <div id="unit-resident-list">
      Loading...
    </div>
  </div>
</div>

<div class="col-md-6">
  <div class="card">
    <h3> Details </h3>
    <ul class="list-unstyled">
      <li>
        <b>Baths Count:</b> <%= bath %>
      </li>
      <li>
        <b>Beds Count:</b> <%= bed %>
      </li>
      <li>
        <b>Sq. Ft.:</b> <%= sq_ft %>
      </li>
      <li>
        <b>Status:</b> <%= status %>
      </li>
      <li>
        <b>Rental Type:</b> <%= rental_type %>
      </li>
      <li>
        <b>Description:</b> <%= description %>
      </li>
    </ul>
  </div>
</div>
<div class="col-md-12">
  <div class="card">
    <div class="ticket-head">
      <h3 class="pull-left"> Tickets </h3>
      <% if (App.vars.ability.can("cud", "Ticket")) { %>
        <a href="<%= App.vars.ticketsPath %>/new" class="btn btn-primary add-new pull-right"> Add New Ticket </a>
      <% } %>
    </div>
    <br />
    <br />
    <div class="unit-tickets">
      <div class="grid"></div>
      <div class="paginator"></div>
    </div>
  </div>
</div>
