<% if (residents.length == 0) { %>
  <br>
  No Residents Found!
<% } else { %>
  <ul class="list-group">
    <% for (var i=0, r; r=residents[i]; i++) { %>
      <li class="list-group-item">
        <% if (r.unit.roommate){ %>
          <span class="badge">roommate</span>
        <% } %>
        <a href="<%= r.show_path %>" target="_blank"> <%= r.full_name || r.email %> </a> <br>
        Email: <%= r.email %> <br>
        Move In: <%= r.unit.move_in %> <br>
        Move Out: <%= r.unit.move_out %> <br>
        <% if (App.vars.ability.can("cud", "Ticket")) { %>
          <a href="<%= r.add_ticket_path %>" class="btn btn-primary btn-sm" style="margin-top:5px;"> Add New Ticket </a> 
        <% } %>
      </li>
    <% } %>
  </ul>
<% } %>