<% for(var i=0; i< assets.length; i++) { %>
  <% var asset = assets[i];  %>
  <% if (asset.thumbnailUrl) { %>
    <a href="<%= asset.url %>" target="_blank" class="image" data-id="<%= asset.id %>">
      <% if (App.vars.ability.can("cud", "Ticket")) { %>
        <i class="fa fa-times remove"></i>
      <% } %>

      <span>
        <img src="<%= asset.thumbnailUrl %>" target="_blank" alt="<%= asset.name %>"/>
      </span>
      <%= Crm.Helpers.truncate(asset.name, 30) %>
    </a>
  <% } else { %>
    <a href="<%= asset.url %>" target="_blank" class="document" data-id="<%= asset.id %>">
      <% if (App.vars.ability.can("cud", "Ticket")) { %>
        <i class="fa fa-times remove"></i>
      <% } %>
      
      <span>
        <i class="fa fa-file-text-o"></i>
      </span>
      <%= Crm.Helpers.truncate(asset.name, 30) %>
    </a>
  <% } %>
<% } %>
