<div class="call-act resident-box">
  <i class="fa fa-phone"></i>
  <div class="author">
    <% if (author) { %>
      <a href="#"><%= author.full_name %></a>
    <% } else { %>
      <a href="#"><%= call.from %></a>
    <% } %>
    
    <%= Helpers.timeOrTimeAgo(created_at) %>
    <% if (App.vars.ability.can("cud", "ResidentActivity")) { %>
      <a href="#" class="delete"> <i class="fa fa-times"></i> </a>
    <% } %>
  </div>
  
  <ul class="list-unstyled">
    <li>
      Agent #: <%= call.from %>
    </li>
    <li>
      Resident #: <%= call.to %>
    </li>
    <% if(call.recording_url){ %>
      <li>
        Length: <%= Helpers.prettyDuration(call.recording_duration) %>
      </li>
    <% } %>
    
    <% if (call.message) { %>
      <li>
        Note: <%= Helpers.sanitize( call.message.replace(/(?:\n\r?|\r\n?)/g, '<br>') ) %>
      </li>
    <% } %>
  </ul>
  
  <% if(call.recording_url){ %>
    <a href="<%= call.recording_url %>" target="_blank" class="play-call">
      <i class="fa fa-play-circle-o"></i> Play Call
    </a>
  <% } %>
</div>