<div class="note-act resident-box">
  <i class="fa fa-file-o"></i>
  <div class="author">
    <% if (author) { %>
      <a href="#"><%= author.full_name %></a>
    <% } else { %>
      <a href="#"><%= from %></a>
    <% } %>
    
    <%= Helpers.timeOrTimeAgo(created_at) %>
    
    <% if (App.vars.ability.can("cud", "ResidentActivity")) { %>
      <a href="#" class="delete"> <i class="fa fa-times"></i> </a>
    <% } %>
  </div>
  
  <div class="message">
    <span><%= Helpers.sanitize( note.message.replace(/(?:\n\r?|\r\n?)/g, '<br>') ) %></span>
    <% if (App.vars.ability.can("cud", "ResidentActivity")) { %>
      <a href="#" class="edit-note"><i class="fa fa-pencil"></i> </a>
    <% } %>
  </div>
  
  <form action="<%= note.update_path %>" onsubmit="return false;" class="note-form">
    <div class="form-group">
      <label>Note:</label>
      <textarea class="form-control" name="note"><%= Helpers.sanitize( note.message.replace(/(?:\n\r?|\r\n?)/g, '<br>') ) %></textarea>
    </div>
    <button type="submit" class="btn btn-success update-note">Update</button>
    <a href="#" class="btn btn-default cancel-note">Cancel</a>
  </form>
</div>