<div class="ticket-act resident-box">
  <i class="fa fa-wrench"></i>
  <div class="author">
    <% if (ticket.activity_author) { %>
      <a href="#"><%= ticket.activity_author.full_name %></a>
    <% } %>
    
    <%= Helpers.timeOrTimeAgo(created_at) %>
    <% if (App.vars.ability.can("cud", "ResidentActivity")) { %>
      <a href="#" class="delete"> <i class="fa fa-times"></i> </a>
    <% } %>
  </div>
  
  <div class="message">
    <% if (action == "new_ticket") { %>
      Ticket <a href="<%= ticket.ticket_path %>"><%= Helpers.truncate(ticket.description, 50) %></a> was assigned 
        to <a href="#"><%= ticket.assignee.full_name %></a>
      
    <% } else if (action == "closed_ticket") { %>
      Ticket <a href="<%= ticket.ticket_path %>"><%= Helpers.truncate(ticket.description, 50) %></a> was closed.
      
    <% } else if (action == "reopened_ticket") { %>
      Ticket <a href="<%= ticket.ticket_path %>"><%= Helpers.truncate(ticket.description, 50) %></a> was re-opened.
      
    <% } else if (action == "on_hold_ticket") { %>
      Ticket <a href="<%= ticket.ticket_path %>"><%= Helpers.truncate(ticket.description, 50) %></a> was on hold.
    <% } else { %>
      Ticket <a href="<%= ticket.ticket_path %>"><%= Helpers.truncate(ticket.description, 50) %></a> - <%= action %>
    <% } %>
  </div>
</div>