<div id="top-nav" class="navbar navbar-default">
  <a href="#" id="hamburger">
    <i class="fa fa-bars"></i>
  </a>

  <% if !sr_page? %>
    <a href="<%= main_app.root_path %>" class="logo">
      <img src="https://s3.amazonaws.com/m.hy.ly/Bozzuto/crm-boz.png">
      CRM
    </a>
  
    <ul class="nav navbar-nav" style="margin-left: 60px;">
      <li class="dropdown" id="property-dd">
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
          <% if @property %>
            <%= @property.name %>
            <span class="label">
    	        <span class="<%= "active" if @property.is_crm? %>">CRM</span><span class="<%= "active" if @property.is_smartrent? %>">Smartrent</span>
  	        </span>
          <% else %>
            Select a property
          <% end %>
          <i class="fa fa-angle-down fa-lg" style="<%= "visibility:hidden" if current_user.managed_properties.count <= 1 %>"></i>
        </a>
      
        <div class="list-filter dropdown-menu" style="<%= "display:none" if current_user.managed_properties.count <= 1 %>">
      	  <form class="form-inline">
            <input type="text" class="form-control" placeholder="Start typing property name...">
          </form>

      	  <div class="scroller">
        	  <div class="list-group">
              <%
        	      properties_region = current_user.managed_properties.includes(:region).group_by{|p| p.region }
        	      properties_region.keys.sort{ |a, b| (a.name.to_s rescue "WWW") <=> (b.name.to_s rescue "WWW") }.each do |region|
        	    %>
        	      <b data-val="<%= region.id if region %>" data-label="<%= region.name if region %>"> <%= region ? region.name : "Other Metro" %></b>
          	    <div class="items">
            	    <% properties_region[region].sort{|a, b| a.name.to_s <=> b.name.to_s }.each do |prop| %>
            	      <% next if !prop.is_crm? && !prop.is_smartrent?  %>
            	      <a href="<%= main_app.property_residents_path(prop) %>" class="list-group-item <%= "active" if @property == prop %>" data-val="<%= prop.id %>" data-label="<%= prop.name %>"> 
            	        <%= prop.name %>
            	        
            	        <span class="label">
              	        <span class="<%= "active" if prop.is_crm? %>">CRM</span><span class="<%= "active" if prop.is_smartrent? %>">Smartrent</span>
            	        </span>
            	      </a>
            	    <% end %>
          	    </div>
        	    <% end %>
            </div>
          </div>
      	</div> <!-- /.list-filter -->
      </li>
    </ul>
  <% else %>
    <a href="<%= main_app.root_path %>" class="logo">
      <img src="https://s3.amazonaws.com/m.hy.ly/Bozzuto/crm-boz.png">
      Smartrent
    </a>
  <% end %>

  <div class="nav navbar-nav navbar-right">
    <div class="user-info">
      <%= current_user.first_name %> 
      <span>(<%= current_user.role %>)</span> | 
      <a href="<%= main_app.logout_path %>"> Logout </a>
    </div>
  </div>
</div>