<% 
  hylet = @campaign.first_nlt_hylet
%>
<div class="campaign-info">
  <div class="crud-buttons">
    <table>
      <tr>
        <td>
          <%= link_to("Edit", edit_property_campaign_path(@property, @campaign), :class => "btn btn-lg btn-primary") %>
        </td>
        <td>
          <%= link_to("Preview", preview_property_campaign_path(@property, @campaign), :class => "btn btn-lg btn-default", :target => "_blank") %>
        </td>
      </tr>
    </table>
  </div>
  
  <div class="card">
    <h3> Notice Info </h3>
    <ul class="list-unstyled">
      <li>
        <b>Subject:</b> <%= hylet.subject %>
      </li>
      <li>
        <b>From:</b> <%= hylet.from %>
      </li>
      <li>
        <b>To:</b> 
        <%= @campaign.first_nlt_hylet.audiences.collect{|a| a.long_name }.join(', ') %>
      </li>
      <li>
        <b>Sent At:</b> <%= @campaign.sent_at %>
      </li>
    </ul>
  </div>
</div>