<li class="newsletter-tile <%= col == "sends_count" ? "large" : "white-tile" %>">
  <h4> 
    <%= raw name[0] %>
  </h4>

  <div class="left-stats">
    <% if col != "sends_count"  %>
      <b>
        <%= conversion %>%
      </b>
      <span>
        <%= col == "open_rate" ? "#{total}%" : number_with_delimiter(total) %>
      </span>
    <% else %>
      <b>
        <%= col == "open_rate" ? "#{total}%" : number_with_delimiter(total) %>
      </b>
    <% end %>
  </div>
</li>