<li class="newsletter-tile <%= col == "sends_count" ? "orange-tile large" : "white-tile" %>">
  <h4> 
    <%= raw name[0] %>
  </h4>

  <div class="left-stats">
    <% if col != "sends_count"  %>
      <b>
        <%= conversion %>%
      </b>
      <span>
        <%= col == "open_rate" ? "#{total}%" : number_with_delimiter(total) %>
      </span>
    <% else %>
      <b>
        <%= col == "open_rate" ? "#{total}%" : number_with_delimiter(total) %>
      </b>
    <% end %>
  
    <% if col == "sends_count" %>
      <p style="height: 115px; overflow: auto;">
        Sent To: 
        <%= 
          cache_audiences = @campaign.multi_sends.collect{|s| s.audience_counts }.flatten.compact.uniq
          
          if @campaign.nlt_clzz? && cache_audiences.length > 0
            audiences = Audience.where(:id => cache_audiences.collect{|a| a["id"]}).includes(:property, :campaign).all
            
            cache_audiences.collect{|c|
              a = audiences.detect{|a| a.id == c["id"].to_i}
              
              if a #existing
                a.long_name
                
              else #deleted audience
                property = Property.find_by_id(c["property_id"])
                
                if property
                  "#{property.name} #{c["name"]}"
                else
                  c["name"]
                end
                
              end
            }.join(', ')
            
          else
            @campaign.first_nlt_hylet.audiences.collect{|a| a.long_name }.join(', ')
          end
        %>
        <br>
        <% if @campaign.nlt_clzz? %>
          Sent At: <%= @campaign.sent_at %>
        <% end %>
      </p>
    <% end %>
  </div>
</li>