<% 
	page_dict = {}
	@all_properties.each do |p|
	  page_dict[p.id] = p.name
  end
%>

<ul id="analyze-container" class="list-unstyled" style="width:100%">
  <li style="margin:0;">
    <div id="send-wrap">
      <table class="table table-bordered tablesorter tb-summary" style="min-width:1950px;">
        <thead>
          <tr>
            <th data-placeholder="Enter <%= org_sub_org.downcase %> name" style="width:140px"> <%= org_sub_org %> Name </th>
            <th data-placeholder="<%= Date.today.strftime("%Y-%b") %>" style="width:150px"> Date &amp; Time </th>
            <th data-placeholder="Enter campaign name" style="width:220px"> Campaign Name </th>
            <th data-placeholder="Enter subject name" style="width:250px"> Subject </th>
            <th data-placeholder=">= 1000"> Sends </th>
            <th data-placeholder="<= 200"> Unique Opens </th>
            <th data-placeholder=">= 10%"> Unique Opens % </th>
            <th data-placeholder="10 - 20"> Clicks </th>
            <th> Clicks % </th>
            <th> Unique Clicks </th>
            <th> Unique Clicks % </th>
            <th> Unsubscribes </th>
            <th> Unsubscribe % </th>
            <th> Spam Index </th>
            <th> Bounce </th>
            <th> Bounce % </th>
            <th> Complaints </th>
            <th> Complaints % </th>
            <th> # Lead Group </th>
          </tr>
        </thead>
        <tbody style="<%= "display:none" if @nlt_campaigns.empty? %>">
          <% 
            total_sends = 0
            total_opens = 0
            total_unique_clicks = 0
            total_clicks = 0
            total_unsubscribes = 0
            total_bounces = 0
            total_complaints = 0
          %>
          <% @nlt_campaigns.each do |campaign| %>
            <%
              root_id = campaign.kind_of?(NewsletterRescheduleCampaign) ? campaign.group_id : campaign.id
              nlt_hylet = @nlt_dict[root_id]
              
              if nlt_hylet
                schedule = nlt_hylet.schedules.detect{|s| s["timestamp"].to_i == campaign.published_at.to_i }
                
                if schedule && !schedule["subject"].blank?
                  subject = schedule["subject"].values.first
                else
                  subject = nlt_hylet.subject
                end

              else
                subject = "<deleted>"
              end
              
              total_sends += campaign.sends_count
              total_opens += campaign.unique_opens_count
              total_unique_clicks += campaign.unique_clicks_count
              total_clicks += campaign.clicks_count
              total_unsubscribes += campaign.unsubscribes_count
              total_bounces += campaign.bounces_count
              total_complaints += campaign.complaints_count
              spam_index = conversion(campaign.unsubscribes_count - campaign.clicks_count, campaign.clicks_count)
              complaint_percent = conversion(campaign.complaints_count, campaign.sends_count)
              bounce_percent = conversion(campaign.bounces_count, campaign.sends_count)
              spammy = spam_index > 0 || complaint_percent > 0.04 || bounce_percent > 5
            %>
            <tr class="<%= cycle("even", nil) -%>">
              <td>
                <%= link_to page_dict[campaign.property_id], page_path(campaign.property_id), :target => "_blank" %>
              </td>
              <td data-time="<%= campaign.published_at.to_i %>">
                <%= campaign.published_at.to_s(:friendly_time) %>
              </td>
              
              <td>
                <%= link_to @annotation_dict[root_id], dashboard_campaign_path(root_id), :target => "_blank" %>
              </td>
              
              <td>
                <%= link_to subject, dashboard_campaign_path(root_id), :target => "_blank", :style => (spammy ? "color:red" : "") %>
              </td>
              	
              <td>
                <%= link_to number_with_delimiter(campaign.sends_count), subscribers_property_campaign_reports_path(@property, root_id, 
                      :type => "sent", :campaign_id => root_id, :timestamp => campaign.published_at.to_i), :class => "more" %> 
              </td>
              
              <td> 
                <%= link_to number_with_delimiter(campaign.unique_opens_count), subscribers_property_campaign_reports_path(@property, root_id, 
                      :type => "opened", :campaign_id => root_id, :timestamp => campaign.published_at.to_i), :class => "more" %> 
              </td>
              <td> <%= conversion(campaign.unique_opens_count, campaign.sends_count) %>% </td>
              
              <td> 
                <%= link_to number_with_delimiter(campaign.clicks_count), subscribers_property_campaign_reports_path(@property, root_id, 
                      :type => "clicked", :campaign_id => root_id, :timestamp => campaign.published_at.to_i), :class => "more" %> 
              </td>
              <td> <%= conversion(campaign.clicks_count, campaign.sends_count) %>% </td>
              
              <td>
                <%= link_to number_with_delimiter(campaign.unique_clicks_count), subscribers_property_campaign_reports_path(@property, root_id, 
                      :type => "unique_clicked", :campaign_id => root_id, :timestamp => campaign.published_at.to_i), :class => "more" %>
              </td>
              <td> <%= conversion(campaign.unique_clicks_count, campaign.sends_count) %>% </td>
              
              <td> 
                <%= link_to number_with_delimiter(campaign.unsubscribes_count), subscribers_property_campaign_reports_path(@property, root_id, 
                      :type => "unsubscribed", :campaign_id => root_id, :timestamp => campaign.published_at.to_i), :class => "more" %> 
              </td>
              <td> <%= conversion(campaign.unsubscribes_count, campaign.sends_count) %>% </td>
              
              <td> 
                <%= link_to "#{spam_index}%", spam_watch_property_campaign_reports_path(@property, root_id, :timestamp => campaign.published_at.to_i), 
                      :target => "_blank", :style => (spam_index > 0 ? "color:red" : "") %>
              </td>
              
              <td>
                <%= link_to number_with_delimiter(campaign.bounces_count), subscribers_property_campaign_reports_path(@property, root_id, 
                      :type => "bounced", :campaign_id => root_id, :timestamp => campaign.published_at.to_i), :class => "more" %>
              </td>
              <td style="<%= "color:red" if bounce_percent > 5 %>"> <%= bounce_percent %>% </td>
              
              <td>
                <%= link_to number_with_delimiter(campaign.complaints_count), subscribers_property_campaign_reports_path(@property, root_id, 
                      :type => "complained", :campaign_id => root_id, :timestamp => campaign.published_at.to_i), :class => "more" %>
              </td>
              <td style="<%= "color:red" if complaint_percent > 0.04 %>"> <%= complaint_percent %>% </td>
              <td> <%= nlt_hylet.audience_ids.length if nlt_hylet %></td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <% if @nlt_campaigns.empty? %>
            <tr>
              <td colspan="19">
                No Data Found
              </td>
            </tr>
          <% elsif @nlt_campaigns.length >= 1 %>
            <tr class="total">
              <td colspan="4"> Total </td>
              <td> <%= number_with_delimiter total_sends %></td>
              
              <td> <%= number_with_delimiter total_opens %></td>
              <td> <%= conversion(total_opens, total_sends) %>%</td>
              
              <td> <%= number_with_delimiter total_clicks %></td>
              <td><%= conversion(total_clicks, total_sends) %>%</td>
              
              <td> <%= number_with_delimiter total_unique_clicks %></td>
              <td><%= conversion(total_unique_clicks, total_sends) %>%</td>
              
              <td> <%= number_with_delimiter total_unsubscribes %></td>
              <td><%= conversion(total_unsubscribes, total_sends) %>%</td>
              
              <td><%= conversion(total_unsubscribes - total_clicks, total_clicks) %>%</td>
              
              <td> <%= number_with_delimiter total_bounces %></td>
              <td><%= conversion(total_bounces, total_sends) %>%</td>
              
              <td> <%= number_with_delimiter total_complaints %></td>
              <td><%= conversion(total_complaints, total_sends) %>%</td>
              <td></td>
            </tr>
          <% end %>
        </tfoot>
      </table>
    </div>
  </li>
</ul>


<script type="text/javascript">
$(function() {
  jQuery.tablesorter.addParser({
	  id: "fancyDate",
	  is: function(s) {
	    return false;
	  },
	  format: function(s, tb, td) {
	    try{
	      return ""+parseInt($(td).attr("data-time"));
	    }catch(ex){
	      return "";
	    }
	  },
	  type: "text"
	});
	
	var sendTable = $('#send-wrap table');
	
  $("#analyze-container .tablesorter").each(function(){
    var tb = $(this);
    
    tb.tablesorter({
      sortInitialOrder: "desc",
			sortList: [[1, 1]],
			widgets: ['zebra', 'filter'],
			widgetOptions: {
    	  filter_searchDelay : 400,
    	  filter_cssFilter: 'form-control'
    	},
			headers: { 
				1: { sorter: "fancyDate"  }
			}
		}).bind('filterEnd', function(e, filter){
      var originFocus = $('.tablesorter-filter:focus');

      sendTable.floatThead('reflow');

      setTimeout(function(){
    	  originFocus.focus();
      }, 100)

    });
  });
  
  
	sendTable.floatThead({
    scrollContainer: function($table){
  		return $table.parent();
  	}
  });
});
</script> 