<% content_for(:js) do %>
  <script type="text/javascript">
    $(function(){
      App.initPageLayout(null, null, null, true); //should be called on top
    });
  </script>
<% end %>

<% content_for(:ui_center) do %>
  <div id="analyze-pane">
    <div class="ui-layout-content">
      <div class="main-container card-container">
        
        <%= render "campaign_reports/nav" %>
        
        <div id="report-header">
          <%= raw send_filter_select(subscribers_property_campaign_reports_path(@property, @campaign)) %>
          <div class="clear"></div>
        </div>
      
        <ul id="analyze-container" class="list-unstyled">
          <li>
            <table id="subscribers">
              <tr>
                <td width="50%">
                  <% params[:type] = "sent" %>
                  <%= render "subscribers", :events => @send_events %>
                </td>
              
                <td width="50%">
                  <% params[:type] = "opened" %>
                  <%= render "subscribers", :events => @open_events %>
                </td>
            
              <tr>
                <td>
                  <% params[:type] = "received" %>
                  <%= render "subscribers", :events => @receive_events %>
                </td>
                <td>
                  <% params[:type] = "unique_clicked" %>
                  <%= render "subscribers", :events => @click_events %>
                </td>
              </tr>
            
              <tr>
                <td>
                  <% params[:type] = "unsubscribed" %>
                  <%= render "subscribers", :events => @unsubscribe_events %>
                </td>
                <td>
                  <% params[:type] = "bounced" %>
                  <%= render "subscribers", :events => @bounce_events %>
                </td>
              </tr>
            
              <tr>
                <td>
                  <% params[:type] = "blacklisted" %>
                  <%= render "subscribers", :events => @blacklisted_events %>
                </td>
                <td>
                  <% params[:type] = "complained" %>
                  <%= render "subscribers", :events => @complaint_events %>
                </td>
              </tr>
            
            </table>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    $(function(){
  	
    	var container = $('#analyze-pane');

    	container.on('click', '.paging-info li:not(.disabled) a', function(){
    	  var t = $(this),
    	    list = t.closest('.subscribers-list');
  	  
    	  list.mask('loading...');
  	  
    	  $.get(t.attr('href'), function(){
    	    list.unmask();
    	  });
  	  
    	  return false;
  	  
    	}).on('click', '.export', function(){
			
  			$.getScript(this.href);

        return false;
  		});
    
    });
  </script>
<% end %>